*
{
  padding: none;
  margin: none;
}




#head,
#receive,
#type
{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  align-items: center;
  background-image: linear-gradient(to right, #00b4db 80%, #0083b0);
  color: white;
  border-color: black;
  border-width: 5px;
  padding: 10px;
  margin: 10px;
  text-shadow: 1px 1px 2px #000000;
}


/* CSS */
.button-30
{
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-30:focus
{
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover
{
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active
{
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}




#type
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#comm
{
  font-size: large;
}

#navbar
{

  border-radius: 10px;
  margin: 10px;
  padding: 1em;
  font-size: x-large;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);

}

ul
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


ul li
{
  list-style: none;
  transition: 0.5s;
}

ul li a
{
  display: block;
  position: relative;
  text-decoration: none;
  padding: 5px;
  font-size: 0.8em;
  font-family: sans-serif;
  color: #fff;
  text-transform: uppercase;
  transition: 0.5s;
}

ul:hover li a
{
  transform: scale(1.5);
  opacity: 0.2;
  filter: blur(5px);
}

ul li a:hover
{
  transform: scale(2);
  opacity: 1;
  filter: blur(0);
  text-decoration: none;
  color: #fff;
}

ul li a:before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(135deg, #ff00cc 0%, #333399 100%);
  transition: 0.5s;
  transform-origin: right;
  transform: scaleX(0);
  z-index: -1;
  border-radius: 5px;
}

ul li a:hover:before
{
  transition: transform 0.5s;
  transform-origin: left;
  transform: scaleX(1);
}